body {
  margin: 0;
  padding: 0;
  background-color: #b3b3b3;
  font-family: "Segoe UI", Arial, sans-serif;
}

.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.create-card {
  background-color: #d9dadb;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 420px;
  border: 10px solid #6e6e6e;
}

.create-title {
  text-align: center;
  color: #222;
  font-size: 1.2rem;
  margin-bottom: 25px;
  font-weight: 700;
}

.create-form {
  display: flex;
  flex-direction: column;
}

.create-group {
  margin-bottom: 15px;
}

.create-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

.create-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #c9c9c9;
  outline: none;
  font-size: 0.95rem;
}

.create-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.create-button {
  background-color: #4d4d4d;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.create-button:hover {
  background-color: #5f5f5f;
}
